<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="line-title"><span>Things I've Been Up To</span></h3>
    </div>
    <!--<div class="section-title">
      <div class="col-xs-12 title-box">
        <h1>Things I've Been Up To</h1>
        <hr class="short-hr">
      </div>
    </div>!-->
    <div class="col-md-10 col-md-offset-1 padding-extra-bottom">
      <ul class="timeline">
        <li>
          <div class="timeline-item no-circle">
            <h4></h4>
          </div>
          <!--<h3 class="timeline-description timeline-title">Things I've Been Up To</h3>!-->
        </li>
        <li>
          <div class="timeline-item">
            <h4><a href="https://pigeonholelive.com/" target="_blank">Pigeonlab</a></h4>
            <span>Jun 2018 - <b>Present</b></span>
          </div>
          <div class="timeline-description">
            <h4>Product Designer</h4>
            <p>I am currently designing features for Pigeonhole Live, an audience interaction platform for conferences and events. As part of the design team, I work closely with the business and engineering teams to make meaningful improvements to our product.</p>
          </div>
        </li>
        <li>
          <div class="timeline-item">
            <h4><a href="https://www.honestbee.sg/" target="_blank">Honestbee</a></h4>
            <span>Jun 2017 - <b>Jun 2018</b></span>
          </div>
          <div class="timeline-description">
            <h4>Product Designer</h4>
            <p>I designed internal apps and dashboards at an Asian on-demand grocery delivery service platform, I helped to revamp apps and services used by Honestbee's logistics and operations personnel to facilitate orders on a day-to-day basis.
               I conducted user interviews and built mockups to propose better changes to the company's internal logistic services.</p>
          </div>
        </li>
        <li>
          <div class="timeline-item">
            <h4><a href="https://www.detalytics.com/" target="_blank">Detalytics</a></h4>
            <span>Jul 2016 - <b>May 2017</b></span>
          </div>
          <div class="timeline-description">
            <h4>UX Designer</h4>
            <p>Designed and prototyped a patient monitoring platform at a data analytics startup that helps healthcare service providers to monitor patients' health statuses remotely. I also revamped the company's site and helped create its branding.</p>
          </div>
        </li>
        <li>
          <div class="timeline-item">
            <h4><a href="https://www.expedia.com.sg/" target="_blank">Expedia</a></h4>
            <span>May 2015 - <b>Oct 2015</b></span>
          </div>
          <div class="timeline-description">
            <h4>Software Engineering Intern</h4>
            <p>Developed a Twitter bot with another intern using Node.js, Express & Expedia's Mobile API. The bot allows Twitter users to easily query Expedia’s holiday deals through tweeting the bot in a short, pre-defined format.</p>
          </div>
        </li>
        <li>
          <div class="timeline-item">
            <h4><a href="https://pearcomms.com/" target="_blank">Pear Comms</a></h4>
            <span>Feb 2015 - <b>May 2015</b></span>
          </div>
          <div class="timeline-description">
            <h4>Freelance UI/UX Designer</h4>
            <p>Designed the user interface for QuickDesk, a CRM software for salespeople to organize their leads and even make sales calls directly from the app. The app also provides automatic DNC Registry checks to aid in marketing efforts.</p>
          </div>
        </li>
      </ul>
    </div>
</div>
