<!--
<div id="contact" class="section">
  <div class="container no-bottom">
    <div class="content">
      <div class="text-center">

        <h2 class="title">CONTACT</h2>

          <p class="description">I’m open to project ideas, chit-chat and supper. <br/>You can reach me at my email</p>

          <a href="mailto:{{ site.email }}">
            <button class="btn teal color">

                <i class="fa fa-envelope-o"></i> {{ site.email }}

            </button>
            </a>
            <br/> <br/>


          <p class="description">Let's connect on</p>

      </div>
      </div>
    </div>
  </div>
</div>
!-->
<div id="footer" class="section light">
  <div class="container">
    <div class="row">
      <div class="text-center">

        <p class="social-media">

          <a href="mailto:{{ site.email }}">
            <span class="round-icon email">
              <i class="fa fa-envelope-o"></i>
            </span>
          </a>

          <a href="https://sg.linkedin.com/in/{{ site.linkedin_username }}" data-toggle="tooltip" title="linkedin">
            <span class="round-icon linkedin">
              <i class="fa fa-linkedin"></i>
            </span>
          </a>

          <a href="https://www.behance.net/{{ site.behance_username }}" data-toggle="tooltip" title="behance">
            <span class="round-icon behance">
              <i class="fa fa-behance"></i>
            </span>
          </a>
        </p>

        <p>Web Design, Code &amp; Content &copy; 2016 Zee.</br>Drop me a mail at <a href="mailto:{{ site.email }}" class="cyan-color"><strong>sayhi@zee.sg</strong></a>.</p>
     </div>
    </div>
  </div>
</div>
