<div id="home" class="section">
  <div class="parallax"><img src="img/zeewallpaper.png"></div>
  <div class="row">
    <div class="col-md-4 col-sm-5 col-xs-12 full" id="header-text">

      <p class="header-info">
        HELLO, I'M <strong>ZI XUAN</strong>,<br/>
        A UI / UX DESIGNER <br/>
        BASED IN SINGAPORE. <br/><br/>
        I'M ALSO KNOWN AS <br/>
        <span id="sitename">ZEE</span><span class="full-stop">.</span><br/>
      </p>

      <p class="social-media">

        <a href="https://twitter.com/{{ site.twitter_username }}" data-toggle="tooltip" title="twitter">
          <span class="round-icon twitter">
            <i class="fa fa-twitter"></i>
          </span>
        </a>

        <a href="https://sg.linkedin.com/in/{{ site.linkedin_username }}" data-toggle="tooltip" title="linkedin">
          <span class="round-icon linkedin">
            <i class="fa fa-linkedin"></i>
          </span>
        </a>

        <a href="https://www.behance.net/{{ site.behance_username }}" data-toggle="tooltip" title="behance">
          <span class="round-icon behance">
            <i class="fa fa-behance"></i>
          </span>
        </a>

        <a href="mailto:{{ site.email }}">
          <span class="round-icon email">
            <i class="fa fa-envelope-o"></i>
          </span>
        </a>

      </p>

    </div>
    <div class="col-md-1 col-sm-1 col-xs-12 empty"></div>
  </div>
</div>
