<div id="landing-header" class="section">
  <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center margin-extra-top">
        <h3 class="cyan-color">Hi, my name is</h3>
        <h1 id="portfolio-sitename">ZEE</h1>
        <p>I'm a UX designer based in Singapore. I'm passionate about designing practical and meaningful experiences, as well as people and food. I'm currently a product designer at <a class="cyan-color" href="https://pigeonholelive.com/" target="_blank"><strong>Pigeonhole Live</strong></a>.</p>
      </div>
  </div>
</div>
