<div id="landing-header" class="section">
  <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center margin-extra-top">
        <!--
        <h3 class="cyan-color">Hi, my name is</h3>
        <h1 id="portfolio-sitename">ZEE</h1>
        !-->
        <img id="profilepic" src="img/profilepic.png">
        <h2 class="cyan-color">Hi, I'm Zee.</h2>
        <p>I'm a UX designer from Singapore. I'm passionate about designing practical and meaningful experiences for people. I'm currently working at <a class="cyan-color" href="https://pigeonholelive.com/" target="_blank"><strong>Pigeonhole Live</strong></a>, also a bubble tea supremacist.</p>
      </div>
  </div>
</div>
