<div id="navbar" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand scroll" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}"> </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a class="scroll" href="{{ "/" | prepend: site.baseurl }}">HOME</a></li>
        <li><a class="scroll" href="{{ "/process" | prepend: site.baseurl }}">HOW I WORK</a></li>
        <li><a class="scroll" href="{{ "/portfolio" | prepend: site.baseurl }}">UX PORTFOLIO</a></li>
        <li><a class="scroll" href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>
