<!--
<div class="col-md-4 col-sm-6 col-xs-12">
  <h4 class="text-center">{{ post.title }}</h4>
  <div class="portfolio-card">
    <a href="{{ post.url }}">
      <img src="{{ post.image }}" />
      <p>
        <span class="round-icon readmore">
          <i class="fa fa-comments-o"></i>
        </span>
        <br/>
        Read More
      </p>
    </a>
  </div>
</div>
!-->
<div class="row padding-bottom">
  <div class="col-sm-5 col-xs-12">
    <div class="portfolio-card">
      <a href="{{ post.url }}" target="_new">
        <img src="{{ post.image }}" />
        <p>
          <span class="round-icon readmore">
            <i class="fa fa-comments-o"></i>
          </span>
          <br/>
          Read More
        </p>
      </a>
      </div>
  </div>
  <div class="col-sm-7 col-xs-12 margin-top">
    <h2>{{ post.title }}</h2>
    <p>
      {{ post.content | strip_html | truncatewords:50}}
      </br></br>
       <a href="{{ post.url }}">
         <button class="btn color">Read More</button>
       </a>
    </p>
  </div>
</div>
