<div class="col-sm-5 col-xs-12">
  <div class="portfolio-card">
    <a href="{{ post.url }}" target="_new">
      <img src="{{ post.image }}" />
      <p>
        <span class="round-icon readmore">
          <i class="fa fa-comments-o"></i>
        </span>
        <br/>
        READ MORE
      </p>
    </a>
    </div>
</div>
<div class="col-sm-7 col-xs-12">
  <h5 class="h5-label">RECENT WORK:</h5>
  <h2>{{ post.title }}</h2>
  <p>
    {{ post.content | strip_html | truncatewords:50}}
    </br></br>
     <a href="{{ post.url }}">
       <button class="btn color">READ MORE</button>
     </a>
     <a href="portfolio">
       <button class="btn color sec-btn">VIEW ALL WORKS</button>
     </a>
  </p>
</div>
