@use 'colors';

$base-font: 'Quicksand', sans-serif;
$secondary-font: 'Asap', serif;

// CUSTOM FONT
$cassannet-outline-font: 'cassannet_outlineregular';
$cassannet-regular-font: 'cassannet_regularregular';

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $secondary-font;
  //font-weight: bold;
}

h1 {
  display: inline-block;
  font-size: 60px;
  font-weight: 400;
}

#title-header h1 {
    letter-spacing: 4px;
}

.text-center {
  text-align: center;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  color: colors.$secondary-color;
  margin: 0 0 15px 0;
  letter-spacing: .5px;
}

.h5-label {
  font-family: $secondary-font;
  font-size: 18px;
  letter-spacing: 2px;
  color: colors.$secondary-color;
  margin-top: 30px;
}

a {
  font-family: $secondary-font;
  font-weight: normal;

  -webkit-transition: color .3s;
  transition: color .3s;
}

a:hover, a:focus {
  text-decoration: none;
}

p {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 600;

  /* anchor colors */
  a { color: colors.$link-color; }
  a:hover { color: colors.$link-hover-color; }
}

.cassannet-outline {
  font-family: $cassannet-outline-font;
  letter-spacing: 5px;
}
