.content {
  padding: 30px 0px;

  h3 {
    &.orange {
      color: $orange-color;
    }

    &.purple {
      color: $purple-color;
    }
  }

  li {
    list-style: inherit;
    margin: 10px 20px;
  }
}
