---
layout: default
---

  <div class="section">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center margin-extra-top">
          <h3 class="cyan-color">Hi, my name is</h3>
          <h1 id="portfolio-sitename">ZEE</h1>
          <p>I'm a UX designer based in Singapore. I do front-end development as well.<br/>Welcome to my <strong>portfolio</strong>.</p>
        </div>
    </div>
  </div>

  <div id="portfolio" class="section">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 padding-extra-bottom">
          {{ content }}
        </div>
    </div>
  </div>
