---
layout: default
---

  {% include title-header.html %}

  <div class="section">
    <div class="container">
      <div class="content">
        <div class="row single vcontainer">
          <div class="col-md-8 col-md-offset-2 padding-bottom">
            {{ content }}
          </div>
          <div class="col-md-8 col-md-offset-2">
              <div class="page-navigation">
                <!--<a href="/portfolio" class="prev">
                  <button class="btn color">Back to Portfolio</button>
                </a>!-->
                {% if page.next.url %}
                  <a class="prev" href="{{page.next.url}}">
                    <button class="btn color">Prev <span class="next-sign">&laquo;</span> {{page.next.title}}</button>
                  </a>
                {% endif %}
                {% if page.previous.url %}
                  <a class="next" href="{{page.previous.url}}">
                    <button class="btn color">Next <span class="next-sign">&raquo;</span> {{page.previous.title}}</button>
                  </a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
